<div class="mx-auto py-12 prose">
  <h1>Standalone API</h1>
  <p>
    Standalone components provide a simplified way to build Angular
    applications. Standalone components, directives, and pipes aim to streamline
    the authoring experience by reducing the need for NgModules.
  </p>
  <h2>The standalone flag and component imports</h2>
  <p>
    Components, directives, and pipes can now be marked as standalone: true.
    Angular classes marked as standalone do not need to be declared in an
  </p>
  <p>
    Standalone components specify their dependencies directly instead of getting
    them through NgModules. For example, if PhotoGalleryComponent is a
    standalone component, it can directly import another standalone component
    ImageGridComponent:
  </p>
  <pre><code class="language-typescript">&#64;Component(&#123;
  standalone: true,
  selector: 'photo-gallery',
  imports: [ImageGridComponent],
  template: `
    &lt;app-image-grid [images]="imageList"&gt;&lt;/app-image-grid&gt;
    `,
&#125;)
export class PhotoGalleryComponent &#123;
  // component logic
&#125;</code></pre>

  <p class="pt-2">
    imports can also be used to reference standalone directives and pipes. In
    this way, standalone components can be written without the need to create an
    NgModule to manage template dependencies.
  </p>
  <h2>Lazy loading a standalone component</h2>
  <p>
    Any route can lazily load its routed, standalone component by using
    loadComponent:
  </p>
  <pre><code class="language-typescript">export const ROUTES: Route[] = [
  &#123; 
    path: 'admin', loadComponent: () => 
    import('./admin/panel.component').then(m => m.AdminPanelComponent) 
  &#125;
];</code></pre>

  <p class="pt-2">This works as long as the loaded component is standalone.</p>
</div>
