<div class="card-container">
    <div class="card" routerLink="stand-alone" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>Stand Alone</h3>
    </div>
    <div class="card" routerLink="image-directive" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>Ng Optimized</h3>
    </div>
    <div class="card" routerLink="directive-composition-api" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>Directive</h3>
    </div>
    <div class="card" routerLink="cdkList" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>CDK</h3>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  