<div class="card-container">
    <div class="card" routerLink="standAlone" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>Stand Alone</h3>
    </div>
    <div class="card" routerLink="imageDirective" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>Ng Optimized</h3>
    </div>
    <div class="card" routerLink="cdkList" appHighlightAndBorder borderColor="blue" highlightColor="lightskyblue">
      <h3>CDK</h3>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  