<div class="mx-auto py-12 prose">
  <h1>Deferrable views</h1>
  <p>
    The new deferrable views, allow you to lazily load the list of comments and
    all their transitive dependencies with a single line of declarative code:
  </p>
  <pre><code class="language-typescript">&#64;defer &#123;
  &lt;app-comment-list /&gt;
&#125;</code></pre>

  <p class="pt-2">
    The most incredible part is that this all happens via a compile-time
    transformation. Angular abstracts all the complexity by finding components,
    directive and pipes used inside of a defer block, generating dynamic imports
    and managing the process of loading and switching between states.
  </p>
  <h2>Let's analyze how it works:</h2>
  <pre><code class="language-typescript">&#64;defer (on viewport) &#123;
  &lt;app-comment-list /&gt;
&#125; &#64;loading &#123;
  Loading…
&#125; &#64;error &#123;
  Loading failed :(
&#125; &#64;placeholder &#123;
  &lt;p&gt;This is a placeholder&lt;/p&gt;
&#125;</code></pre>

  <p class="pt-2">
    In the example above, Angular first renders the contents of the placeholder
    block. When it becomes visible in the viewport, the loading of the
    comment-list component starts. Once the loading is completed, Angular
    removes the placeholder and renders the component.
  </p>
  <h2>
    To witness the deferrable view in action, switch your network mode to "slow
    3G" and reload the page.
  </h2>
  @defer (on viewport) {
  <app-comment-list />
  } @loading { Loading… } @error { Loading failed :( } @placeholder {
  <p>This is a placeholder</p>
  }
  <p>Deferrable views offer a few more triggers:</p>
  <ul>
    <li>on idle</li>
    <li>on viewport</li>
    <li>on interaction</li>
    <li>on hover</li>
    <li>on immediate</li>
    <li>on timer</li>
  </ul>
  <p>
    Deferrable views also provide the ability to prefetch the dependencies ahead
    of rendering them. Adding prefetching is as simple as adding a prefetch
    statement to the defer block and supports all the same triggers.
  </p>
  <pre><code class="language-typescript">&#64;defer (on viewport; prefetch on idle) &#123;
  &lt;app-comment-list /&gt;
  &#64;placeholder &#123;
    <p>This is a placeholder</p>
  &#125;
&#125;</code></pre>
</div>
